body{
    overscroll-behavior: none;
    background-color: rgb(98, 0, 255);
}
.nav{
    display: flex;
    height:100px;
    margin: 10px;
    text-align: center;
}
.nav ul{
    display: inline-flex;
    margin-left: 10px;
    width:600px;
    margin-left: 180px;
}
.nav ul li{
    list-style-type: none;
    padding-left: 50px;
}
.nav ul li a{
    text-decoration: none;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.nav ul li a:hover{
    color:yellow;
}
.nav h3{
    width:100px;
    color:yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav button{
    border:none;
    outline: none;
    width:100px;
    height:30px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: yellow;
    color:black;
    margin-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;   
}
.content .right img{
    width:380px;
    height: 380px;
    padding-top: 10px;
}
.content .right{
    width:350px;
    height:350px;
    background-color: yellow;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 300px;
}
.content{
    display:flex;
}
.content .left{
    margin-left: 100px;
    margin-top: 80px;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content .left button{
    outline: none;
    width:100px;
    height: 30px;
    border-radius: 10px;
    border:none;
    background-color:yellow;
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    cursor: pointer;
}
.content{animation: 2s ease 0s 1 FadeIn;
}
@keyframes FadeIn {
    0% {
      opacity:0;
      transform: translateY(100px);
    }
    100% {
      opacity:1;
      transform: translateY(0px);
    }
}